.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: url(https://www.bing.com/images/search?view=detailV2&ccid=zO67yRWN&id=73FCDA0095E30B3C987856BA30E815EADADB09D5&thid=OIP.zO67yRWNKqifjjDzMUSJggHaDx&mediaurl=https%3A%2F%2Ftadviser.ru%2Fimages%2F4%2F48%2F%D0%A6%D0%92%D0%A2_%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_2020.png&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.cceebbc9158d2aa89f8e30f331448982%3Frik%3D1Qnb2uoV6DC6Vg%26pid%3DImgRaw%26r%3D0&exph=1034&expw=2031&q=%d1%86%d0%b2%d1%82&simid=608035819101374703&form=IRPRST&ck=BBD56E1E93B2395CAD6FD5D28ED1C2EC&selectedindex=0&ajaxhist=0&ajaxserp=0&vt=0&sim=11);
    background-size: cover;
    border-radius: 4px;
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
::-webkit-input-placeholder {color:#3f3f44; padding-left: 10px;} // Это стили для placeholder
::-moz-placeholder          {color:#3f3f44; padding-left: 10px;} // Это стили для placeholder
:-moz-placeholder           {color:#3f3f44; padding-left: 10px;} // Это стили для placeholder
:-ms-input-placeholder      {color:#3f3f44; padding-left: 10px;} // Это стили для placeholder